<form id="form" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Üzemelt.Banksz.Listán</mat-label>
    <input
      (input)="onChange($event.target.value)"
      (blur)="transformBankAccountNum($event.target?.value)"
      matInput [textMask]="{mask: bankAccountNumPattern}"
      pattern="^[0-9]{8}([ -]?[0-9]{8}){1,2}$"
      formControlName="bankAccountNum"
      required>
    <mat-error *ngIf="bankAccountNum.hasError('pattern')">
      Kérem érvényes számlaszámot adjon meg
    </mat-error>
  </mat-form-field>
</form>
