.mat-stepper-horizontal {
  margin-top: 8px;
}

form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 2%;
}

.full-width {
  width: 100%;
}
.mat-form-field {
  display: block;
  font-size: small;
  margin-top: auto;
}
.mat-step-header {
  flex-direction: column;
}


