<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Ház adatok megadása</ng-template>
      <div fxLayout="row" fxLayoutGap="160px">
        <div fxLayout="column">
        <mat-form-field>
        <mat-label>Ház rövid neve (azonosító)</mat-label>
        <input matInput formControlName="shortHouseName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ház neve</mat-label>
        <input matInput formControlName="houseName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Irányítószám</mat-label>
        <input matInput [textMask]="{mask: postCodeMask}" formControlName="postCode">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Város</mat-label>
        <input matInput formControlName="city" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Utca, házszám</mat-label>
        <input matInput formControlName="strata" required>
      </mat-form-field>
        </div>
        <div fxLayout="column">
        <mat-form-field>
        <mat-label>Helyrajzi szám</mat-label>
        <input matInput formControlName="locationNr" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adószám</mat-label>
        <input matInput formControlName="taxNum" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Üzemelt.Banksz.Listán</mat-label>
        <input matInput formControlName="bankAccountNr" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Össz négyzetméter/tulajdoni hányad</mat-label>
        <input matInput formControlName="areaOwnerShip" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kettős könyvitel</mat-label>
        <input matInput formControlName="dualAccounting" required>
      </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Tovább</button>
      </div>
    </form>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
