<mat-horizontal-stepper #stepper  [linear]="true">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Ház adatok megadása</ng-template>
      <div fxLayout="row" fxLayoutGap="100px">
        <div fxLayout="column" fxLayoutGap="20px">
          <mat-form-field>
            <mat-label>Ház rövid neve (azonosító)</mat-label>
            <input matInput formControlName="shortHouseName" maxlength="20" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ház neve</mat-label>
            <input matInput formControlName="houseName" maxlength="20" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Irányítószám</mat-label>
            <input matInput [textMask]="{mask: postCodeMask}" formControlName="postCode">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Város</mat-label>
            <input matInput formControlName="city" maxlength="40" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Utca, házszám</mat-label>
            <input matInput formControlName="strata" maxlength="100" required>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayoutGap="20px" fxFlex="270px">
          <mat-form-field>
            <mat-label>Helyrajzi szám</mat-label>
            <input matInput formControlName="locationNr" maxlength="20">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Adószám</mat-label>
            <input matInput [textMask]="{mask: taxNumPattern}" formControlName="taxNum">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Üzemelt.Banksz.Listán</mat-label>
            <input matInput formControlName="bankAccountNr" [textMask]="{mask: bankAccountPattern}" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Össz négyzetméter/tulajdoni hányad</mat-label>
            <input matInput formControlName="areaOwnerShip" type="number" maxlength="7" minlength="1" required>
          </mat-form-field>
          <mat-checkbox formControlName="dualAccounting">
            <mat-label>Kettős könyvitel</mat-label>
          </mat-checkbox>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Tovább</button>
      </div>
    </form>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Könyvelési adatok</ng-template>
      <div fxLayout="row" fxLayoutGap="100px">
        <div fxLayout="column" fxLayoutGap="20px">
          <mat-form-field>
            <mat-label>Könyvelés kezdő hónapja</mat-label>
            <mat-select  formControlName="accountancyStartDate" disableRipple>
              <mat-option value="jan">Január</mat-option>
              <mat-option value="febr">Február</mat-option>
              <mat-option value="marc">Március</mat-option>
              <mat-option value="april">Április</mat-option>
              <mat-option value="maj">Május</mat-option>
              <mat-option value="jun">Június</mat-option>
              <mat-option value="jul">Július</mat-option>
              <mat-option value="aug">Augusztus</mat-option>
              <mat-option value="szept">Szeptember</mat-option>
              <mat-option value="okt">Október</mat-option>
              <mat-option value="nov">November</mat-option>
              <mat-option value="dec">December</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Csekkdíj</mat-label>
            <input matInput placeholder="0 esetén nincs" formControlName="chequeFee" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Összegarányos csekkdíj</mat-label>
            <input matInput placeholder="0 esetén nincs" type="number" formControlName="proportionalCheqFee">
          </mat-form-field>
          <div fxLayout="row">
          <mat-form-field>
            <mat-label>Csekkdíj emelés hónapja</mat-label>
            <mat-select formControlName="chequeFeeLiftingMonth" disableRipple>
              <mat-option value="jan">Január</mat-option>
              <mat-option value="febr">Február</mat-option>
              <mat-option value="marc">Március</mat-option>
              <mat-option value="april">Április</mat-option>
              <mat-option value="maj">Május</mat-option>
              <mat-option value="jun">Június</mat-option>
              <mat-option value="jul">Július</mat-option>
              <mat-option value="aug">Augusztus</mat-option>
              <mat-option value="szept">Szeptember</mat-option>
              <mat-option value="okt">Október</mat-option>
              <mat-option value="nov">November</mat-option>
              <mat-option value="dec">December</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox  formControlName="refusedChFeeLiftingMonth">
            <mat-label>Nincs emelés</mat-label>
          </mat-checkbox>
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="20px">
          <mat-form-field>
            <mat-label>Emelt csekkdíj</mat-label>
            <input matInput placeholder="0 esetén nincs" formControlName="raisedChequeFee" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Banki készpénzbefizetés díja</mat-label>
            <input matInput placeholder="0 esetén nincs" formControlName="bankCachPaymentFee" required>
          </mat-form-field>
          <mat-checkbox  formControlName="handledInvoice">
            <mat-label>Csak folyamatos teljesítésű számlákat könyvel?</mat-label>
          </mat-checkbox>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Vissza</button>
        <button mat-button matStepperNext>Tovább</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Törzsek beállítása</ng-template>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="20px">
          <mat-checkbox  formControlName="enablingCustomerTrunk">
            <mat-label>Vevőtörzs engedélyezése</mat-label>
          </mat-checkbox>
          <mat-checkbox  formControlName="customerTrunkAddressManagement">
            <mat-label>Vevőtörzs címkezelés</mat-label>
          </mat-checkbox>
          <mat-checkbox  formControlName="enablingCarrierTrunk">
            <mat-label>Szállítótörzs engedélyezése</mat-label>
          </mat-checkbox>
          <mat-checkbox  formControlName="supplierTrunkAddressManagement">
            <mat-label>Szállítótörzs címkezelés</mat-label>
          </mat-checkbox>
          <mat-checkbox  formControlName="overViewbuyerSupplier">
            <mat-label>Áttekintésben legyen-e vevő/szállító név</mat-label>
          </mat-checkbox>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Vissza</button>
        <button mat-button matStepperNext>Tovább</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Közösképviselő adatai</ng-template>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="20px">
          <mat-form-field>
            <mat-label>Közösképviselő neve</mat-label>
            <input matInput formControlName="delegatePersonName"
                   required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Közösképviselő titulusa</mat-label>
            <input matInput formControlName="delegatePersonTitle" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Közösképviselő telefonszáma</mat-label>
            <input matInput formControlName="delegatePersonNamePhoneNr">
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Vissza</button>
        <button mat-button matStepperNext>Tovább</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Kész</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Javít</button>
      <button mat-button (click)="save()">Mentés</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
