<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
      <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button *ngIf="!this.authService.isLoggedIn" routerLink="/login">
      <mat-icon>power_settings_new</mat-icon>
      Bejelentkezés
    </button>
    <button mat-button *ngIf="this.authService.isLoggedIn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Kijelentkezés
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/admin">
    <mat-icon>admin</mat-icon>
    Admin
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>power_settings_new</mat-icon>
    Bejelentkezés
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Kijelentkezés
  </button>
</mat-menu>
<router-outlet></router-outlet>
