<div class="container text-center">

  <button mat-button (click)="openDialog()" mat-flat-button color="primary">Új Ház</button>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="houseName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Megnevezés</th>
      <td mat-cell *matCellDef="let element"> {{element.houseName}}</td>
    </ng-container>
    <ng-container matColumnDef="postCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Irsz</th>
      <td mat-cell *matCellDef="let element"> {{element.postCode}}</td>
    </ng-container>
    <ng-container matColumnDef="strata">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Cím</th>
      <td mat-cell *matCellDef="let element"> {{element.strata}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
